
header.formularios {
    padding-bottom: 0.3%;
    padding-top: 0.3%;
    width:100%;
}
.compu{
    width: 6em;
}

h1.formularios{
    color: white;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight:400;
    vertical-align: 80%;
}

div.formularios{
    margin:0 auto;
    margin-bottom: 15%;
    margin-top:15%;
    width: 33%;
}

div.fondo{
    background-color:#00669F;
    border-radius: 40px;
    width:75%;
    margin:0 auto;
    margin-bottom: 15%;
    margin-top:15%;
}

.formularios h2{
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 4%;
    text-align: left;
}

input, select, textarea{
    margin:2% 0;
    padding:2%;
    width:100%;
}
.fondo h3, .fondo p{
    color:white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 1% 0;
}
.fondo h3{
    font-size: 35px;
}
.fondo p{
    font-size: 22px;
    font-weight: normal;
}
.fondo form{
    margin: 0 auto;
    width:85%;
    margin: 1% 8%;
}
.dosColumnas{
    display: inline-block;
    margin: 0 auto;
    width:49%;
}
.uno{
    margin-right: 1%;
}
.dosColumnas label, .dosColumnas input, .dosColumnas textarea, .dosColumnas select{
 
    margin: 0 auto;
    display: inline-block;
    margin:3% 0;
}
.dosColumnas label,.dosColumnas p{
    color:white;
    font-weight: 100;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding-right: 20%;
}

.dosColumnas input[type=file]{
    margin-top: 16%;
}

.dosColumnas input[type=text],.dosColumnas input[type=date],.dosColumnas select {
    padding:7%;
    border-radius: 15px;
    border: solid 1px #00669F;
}
.dosColumnas textarea{
    padding:3% 0 87% 3%;
    border-radius: 15px;
    margin-top: 10%;
    margin-bottom: 0;
    
}
.dosColumnas.gris{
    color:grey;
}
.dosColumnas input[type=checkbox]{
    width:40px;
    display: inline-block;
}

.dosColumnas input[type=radio]{
    display: inline-block;
    width:20px;
}

.dosColumnas p{
    margin-top: 13%;
    margin-bottom: 2%;
    text-align: left;
    font-size: 20px;
}

textarea::placeholder, .dosColumnas select{
    font-size: 18px;
    color:grey;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    text-align: left;
}
.dosColumnas select{
    padding:6%;
}

textarea{
    padding:15%;
}
input[type=submit], input[type=reset]{
    background-color: #1CD1B0;
    border: solid #1CD1B0 1px;
    border-radius: 20px;
    display:inline-block;
    font-weight: bold;
    margin:7% 1.9% 0;
    width:45%;
}

input[type=reset]{
    background-color: #888888;
    border: solid #888888 1px;
    color:white;
}
#boton{
    width: 60%;
    margin:4% 20% 3%;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

input.ancho{
    width:96%;
}

.formularios form p{
    margin-top: 4%;
    text-align: center;
}

.formularios form p a{
    color:#4F95BD;
    text-decoration: none; 
}

footer.formularios{
    background-color:#00669F;
    color:white;
    font-size: 20px;
    padding:2%;
    position:absolute;
    text-align:center;
    width:100%;
}