
header.formularios {
    padding-bottom: 0.3%;
    padding-top: 0.3%;
    width:100%;
}
.compu{
    width: 6em;
}

h1.formularios{
    color: white;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight:400;
    vertical-align: 80%;
}

div.formularios{
    margin:0 auto;
    margin-bottom: 15%;
    margin-top:15%;
    width: 33%;
}

.formularios h2{
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 4%;
    text-align: left;
}

input, select, textarea{
    margin:2% 0;
    padding:2%;
    width:100%;
}

input::placeholder{
    font-size: 12px;
}
textarea{
    padding:15%;
}
input[type=submit], input[type=reset]{
    background-color: #1CD1B0;
    border: solid #1CD1B0 1px;
    border-radius: 20px;
    display:inline-block;
    font-weight: bold;
    margin:7% 1.9% 0;
    width:45%;
}

input[type=reset]{
    background-color: #888888;
    border: solid #888888 1px;
    color:white;
}

input.ancho{
    width:96%;
}

.formularios form p{
    margin-top: 4%;
    text-align: center;
}

.formularios form p a{
    color:#4F95BD;
    text-decoration: none; 
}

footer.formularios{
    background-color:#00669F;
    color:white;
    font-size: 20px;
    padding:2%;
    position:absolute;
    text-align:center;
    width:100%;
}