/*div que se encuentra antes del header*/
#descuento{
    background-color:#1CD1B0;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding-left: 2%;
    width:100%;
}

/*Header del home*/
header{
    background-color:#00669F;
    font-size: 20px;
    padding:1% 2%;
    /*Posicion relativa hasta el top=0 y luego queda fijo*/
    position:sticky;
    top: 0%;
    /*Para que quede arriba de los demás objetos*/
    z-index:99;    
}
/*Header de todos los formularios*/
header.formularios {
    padding: 0.3% 0;
    width:100%;
}

/*h1 del home*/
h1.home{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight:400;
}

/*h1 de todos los formularios*/
h1.formularios{
    color: white;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight:400;
    vertical-align: 80%;
}

/*Imágen de computadora de los formularios*/
.compu{
    width: 6em;
}

/*Barra de navegación del home*/
nav{
    background-color: #001D2D;
    padding:0.8%;
    text-align: right;
    width:100%;
}

/*Pongo en linea los items de la barra de navegación*/
li{
    display: inline-block;
    margin-right: 1%;
}

/*Formato de los links correspondientes a las opciones del menu de navegacion*/
nav ul li a{
    color:white;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}
