/*Importación de fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

/*Importación del css*/
@import "header.css";
@import "main.css";
@import "footer.css";


/*Selector universal*/
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

/*Signo más*/
#mas{
    background-color:#00669F;
    border-radius: 30px;
    /*Para que esté en el medio de la pantalla*/
    bottom:40%;
    color:white;
    padding: 1%;
    position:fixed;
    right:2%;    
}




